<h2>Comments</h2>
<% if post.comments.present?%>
  <%= render post.comments %>
<% end %>
<br>
<% if user_signed_in? %>
  <%= render "comments/new", post: post%>
<% else %>
  Tre sa te loghezi ca sa poti adauga comentarii!
<% end %>