<%= form_with model: [post, Comment.new] do |form|%>
  <p>Add a comment!</p>
  <%= form.rich_textarea :content, autofocus: true, autocomplete: 'content', class: 'form-control'%>
  <%= form.submit%>
<% end %>